<h2>About</h2>
{{#each model as |bookmark|}}
	<article id={{bookmark.id}}>
        <a href="{{bookmark.link}}">
            {{bookmark.title}} - {{bookmark.about}}
        </a>
    </article>
{{/each}}